# No shared libraries and compiled Python
*.so
*.pyc
# No eclipse settings
*.project
*.cproject
*.autotools
*.pydevproject
.settings/
.idea/
# No wrapper temporary files
*~
dynamic/exposed_decl*
castxml_cache.xml
# No Python build folders
src/python/chaste/projects/*
src/python/build*
src/python/dist*
src/python/chaste.egg-info*
# No api docs
doc/api/build*
